<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="myStr" connectionString="server=127.0.0.1;database=frdtest;password=az13132323251..;user id=root"/>
  </connectionStrings>
  <!--配置默认参数-->
  <appSettings>
        
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>